/*Color CSS File 
	===================
	Item Name: Sava - Creative pricing tables
	Author: Ashish Maraviya
	Version: 2.1
	Copyright 2021-2022
===================*/
/* Start Pricing plan style 1 */
.plan-style-1 .plan-header {
  background: -webkit-gradient(linear, left top, right top, from(#b76cd2), to(#4c3bb3));
  background: linear-gradient(to right, #b76cd2, #4c3bb3);
}
.plan-style-1 .plan-button {
  background-image: -webkit-gradient(linear, left top, right top, from(#b76cd2), color-stop(#4c3bb3), color-stop(#4c3bb3), to(#b76cd2));
  background-image: linear-gradient(to right, #b76cd2, #4c3bb3, #4c3bb3, #b76cd2);
}
.plan-style-1 .plan-list li i {
  color: #3b53b3;
}

/* End Pricing plan style 1 */
/* Start Pricing plan style 2 */
.plan-style-2:hover .price {
  color: #4c3bb3;
}
.plan-style-2 .plan-button:hover {
  color: #4c3bb3;
}
.plan-style-2 .plan-header {
  background: -webkit-gradient(linear, left top, right top, from(#b76cd2), to(#4c3bb3));
  background: linear-gradient(to right, #b76cd2, #4c3bb3);
}
.plan-style-2 .plan-bottom {
  background: -webkit-gradient(linear, left top, right top, from(#b76cd2), to(#4c3bb3));
  background: linear-gradient(to right, #b76cd2, #4c3bb3);
}

/* End Pricing plan style 2 */
/* Start Pricing plan style 3 */
.plan-style-3 .plan-header {
  background: -webkit-gradient(linear, left top, right top, from(#1064e1), to(#0047af));
  background: linear-gradient(to right, #1064e1, #0047af);
}
.plan-style-3 .plan-bottom {
  background: -webkit-gradient(linear, left top, right top, from(#1064e1), to(#0047af));
  background: linear-gradient(to right, #1064e1, #0047af);
}
.plan-style-3 .plan-list li i.far.fa-check-circle {
  color: #00af20;
}
.plan-style-3 .plan-button:hover {
  color: #0047af;
}

/* Start Pricing plan style 9 */
.plan-style-9 .plan-header {
  background: -webkit-gradient(linear, left top, right top, from(#7f7f7f), to(#464646));
  background: linear-gradient(to right, #7f7f7f, #464646);
}
.plan-style-9 .plan-bottom {
  background: -webkit-gradient(linear, left top, right top, from(#7f7f7f), to(#464646));
  background: linear-gradient(to right, #7f7f7f, #464646);
}
.plan-style-9 .plan-list li i.far.fa-check-circle {
  color: #00af20;
}
.plan-style-9 .plan-button:hover {
  color: #464646;
}
/* End Pricing plan style 9 */

/* Start Pricing plan style 8 */
.plan-style-8 .plan-header {
  background: -webkit-gradient(linear, left top, right top, from(#df5327), to(#a23716));
  background: linear-gradient(to right, #df5327, #a23716);
}
.plan-style-8 .plan-bottom {
  background: -webkit-gradient(linear, left top, right top, from(#df5327), to(#a23716));
  background: linear-gradient(to right, #df5327, #a23716);
}
.plan-style-8 .plan-list li i.far.fa-check-circle {
  color: #00af20;
}
.plan-style-8 .plan-button:hover {
  color: #a23716;
}
/* End Pricing plan style 8 */

/* Start Pricing plan style 7 */
.plan-style-7 .plan-header {
  background: -webkit-gradient(linear, left top, right top, from(#64ad2d), to(#57c403));
  background: linear-gradient(to right, #64ad2d, #469b05);
}
.plan-style-7 .plan-bottom {
  background: -webkit-gradient(linear, left top, right top, from(#64ad2d), to(#469b05));
  background: linear-gradient(to right, #64ad2d, #469b05);
}
.plan-style-7 .plan-list li i.far.fa-check-circle {
  color: #00af20;
}
.plan-style-7 .plan-button:hover {
  color: #469b05;
}
/* End Pricing plan style 7 */

/* Start Pricing plan style 6 */
.plan-style-6 .plan-header {
  background: -webkit-gradient(linear, left top, right top, from(#7f7f7f), to(#464646));
  background: linear-gradient(to right, #7f7f7f, #464646);
}
.plan-style-6 .plan-bottom {
  background: -webkit-gradient(linear, left top, right top, from(#7f7f7f), to(#464646));
  background: linear-gradient(to right, #7f7f7f, #464646);
}
.plan-style-6 .plan-list li i.far.fa-check-circle {
  color: #00af20;
}
.plan-style-6 .plan-button:hover {
  color: #464646;
}
/* End Pricing plan style 7 */


/* Start Pricing plan style 4 */
.plan-style-4 .plan-header {
  border-bottom: 5px solid #0047af;
}
.plan-style-4 .plan-header .plan-label {
  background: -webkit-gradient(linear, left top, right top, from(#2a68ba), to(#0047af));
  background: linear-gradient(to right, #2a68ba, #0047af);
}
.plan-style-4 .plan-header .plan-icon {
  background: -webkit-gradient(linear, left top, right top, from(#2a68ba), to(#0047af));
  background: linear-gradient(to right, #2a68ba, #0047af);
}
.plan-style-4 .plan-price {
  background: -webkit-gradient(linear, left top, right top, from(#297cf1), to(#0047af));
  background: linear-gradient(to right, #297cf1, #0047af);
}
.plan-style-4:hover .plan-title {
  color: #0047af;
}
.plan-style-4 .plan-button {
  background-image: -webkit-gradient(linear, left top, right top, from(#297cf1), color-stop(#0047af), color-stop(#0047af), to(#297cf1));
  background-image: linear-gradient(to right, #297cf1, #0047af, #0047af, #297cf1);
}

/* End Pricing plan style 4 */
/* Start Pricing plan style 5 */
.plan-style-5 .plan-header .lable {
  background: -webkit-gradient(linear, left top, right top, from(#b76cd2), to(#4c3bb3));
  background: linear-gradient(to right, #b76cd2, #4c3bb3);
}
.plan-style-5 .plan-header .plan-icon {
  background: -webkit-gradient(linear, left top, right top, from(#b76cd2), to(#4c3bb3));
  background: linear-gradient(to right, #b76cd2, #4c3bb3);
}
.plan-style-5 .plan-price {
  background: -webkit-gradient(linear, left top, right top, from(#b76cd2), to(#4c3bb3));
  background: linear-gradient(to right, #b76cd2, #4c3bb3);
}
.plan-style-5:hover .plan-title {
  color: #4c3bb3;
}
.plan-style-5 .plan-list li i.far.fa-check-circle {
  color: #4c3bb3;
}
.plan-style-5 .plan-button {
  color: #4c3bb3;
  border: 2px solid #4c3bb3;
}