//-------------------------------------------------
// Common Default Variable SCSS
//-------------------------------------------------

// Font Family
$font-family: 'Lato', sans-serif;

$table-color-purple-1: #b76cd2;
$table-color-purple-2: #4c3bb3;

$table-color-orange-1: #ff9f0e;
$table-color-orange-2: #ff4a10;

$table-color-pink-1: #ff729b;
$table-color-pink-2: #ce002f;

$table-color-green-1: #09e072;
$table-color-green-2: #007d1d;

$table-color-yellow-1: #fde08d;
$table-color-yellow-2: #df9f28;

$table-color-blue-1: #00eefa;
$table-color-blue-2: #05b6eb;
